<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Already Exists</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .error-container {
      text-align: center;
      padding: 40px;
      border-radius: 10px;
      background-color: #fff;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .error-message {
      font-size: 24px;
      color: #ff0000;
      margin-bottom: 20px;
    }
    .back-button {
      padding: 12px 24px;
      font-size: 18px;
      background-color: #ff0000;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .back-button:hover {
      background-color: #b30000;
    }
  </style>
</head>
<body>
  <div class="error-container">
    <div class="error-message">User Already Exists!</div>
    <button class="back-button" onclick="navigateToFrontend()">Go To Home</button>
  </div>
  <script>
    function navigateToFrontend() {
    window.location.href = "<%=link%>";
  }
   </script>
</body>
</html>
